@import "tailwind";
/* @plugin "daisyui"; */

.body {
  background-color: rgb(107, 80, 226);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px; 
}
.h1 {
  font-size: 50px;
  color: rgb(206, 224, 36);
  margin-top: 0px;
  margin-bottom: 12px;
  margin-left: 10px;
}
h2 {
  font-size: 30px;
  color: rgb(111, 219, 223);
  margin-top: 0px;
  margin-left: 12px;
}
.table {
  width: 400px;
  height: 400px;
  border-collapse: collapse;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.td {
  width: 120px;
  height: 120px;
  margin-top: 0px;
  font-size: 50px;
  cursor: pointer;
  border: 10px solid #003866;
  text-align: center;
}
.option {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.option button {
  width: 370px;
  height: 110px;
  font-size: 60px;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 20px;
}
.choose1 {
  background-color: #06e48f;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.last {
  width: 290px;
  height: 80px;
  background-color: rgb(206, 67, 199);
  font-size: 25px;
  border-radius: 18px;
  box-shadow: 10px;
  gap: 40px;
  padding: 20px 40px;
  margin-top: 40px;
  margin-left: 190px;
   margin-right: 80px;
}
.h5{
  font-size: 20px;
  color: rgb(37, 36, 36);
  display: flex;
  justify-content: center;
}
.end{
  padding: 0px;
  margin: 0px;
}